.profile__edit-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../../images/profile-edit-button.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  opacity: 1;
  transition: opacity .4s linear;
  cursor: pointer;
  margin-top: 21px;
}

.profile__edit-button:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
