.popup__input-error {
  display: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  color: #FF0000;
  margin: 5px 0 13px;
  padding: 0;
  max-width: fit-content;
}
