.profile {
  padding-top: 40px;
  padding-bottom: 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
    padding-top: 42px;
    padding-bottom: 36px;
    margin: 0 19px;
    flex-direction: column;
  }
}
