.card__like-button {
  background: url(../../../images/like.png) center no-repeat;
  width: 22px;
  height: 19px;
  opacity: 1;
  transition: opacity .4s linear;
  cursor: pointer;
  border: none;
}

.card__like-button:hover {
  opacity: .5;
}
