.popup__input-field {
  color: #000;
  width: 100%;
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 9px;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.popup__input-field:focus {
  outline:none;
}

@media screen and (max-width: 514px) {
  .popup__input-field {
    margin-bottom: 27px;
  }
}
