.popup__contact-info {
  border: none;
  padding-left: 36px;
  padding-right: 36px;
}

@media screen and (max-width: 430px) {
  .popup__contact-info {
    padding-left: 22px;
    padding-right: 22px;
    margin: 0;
  }
}
