.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,auto));
  grid-template-rows: repeat(2, minmax(0,auto));;
  grid-column-gap: 6px;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 768px){
  .profile__info {
      grid-column-gap: 0;
      grid-row-gap: 0;
      margin-left: 0;
      grid-column-gap: 0;

  }
}
