.footer {
  margin: 67px auto 0 0;
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 48px auto 36px 19px;
  }
}

@media screen and (min-width: 767px) and (max-width: 879px) {
  .footer {
    margin: 48px auto 36px 120px;
  }
}
